@model CustomerManagerAHWeb.Models.CreateCustomerViewModel

@{
  ViewBag.Title = "Create Customer";
}

<h1>@ViewBag.Title</h1>

@using (Html.BeginForm()) {
  @Html.AntiForgeryToken()
  @Html.ValidationSummary(true)

  <fieldset>
    <div class="editor-label">
      @Html.LabelFor(model => model.FirstName)
    </div>
    <div class="editor-field">
      @Html.EditorFor(model => model.FirstName)
    </div>

    <div class="editor-label">
      @Html.LabelFor(model => model.LastName)
    </div>
    <div class="editor-field">
      @Html.EditorFor(model => model.LastName)
    </div>

    <div class="editor-label">
      @Html.LabelFor(model => model.Email)
    </div>
    <div class="editor-field">
      @Html.EditorFor(model => model.Email)
    </div>

    <p>
      <input type="submit" value="Create Customer" />
    </p>
  </fieldset>
}

<div>
  @Html.ActionLink("Back to Customer List", "Index", "Home");
</div>